[submodule "WindowsInternalsAndProgramming_SoftwareEngineering"]
	path = WindowsInternalsAndProgramming_SoftwareEngineering
	url = ccpprofessional@vs-ssh.visualstudio.com:v3/ccpprofessional/WindowsInternalsAndProgramming/WindowsInternalsAndProgramming_SoftwareEngineering
